    <h1>Hello, Handlebars!</h1>
    {{#with user}}
    <div>
    <p>Welcome, {{username}}!</p>
    <p>Your email: {{email}}!</p>
    </div>
    {{/with}}

    {{#if count}}
    <p>Site visited {{count}} times.</p>
    {{else}}
    <p>You are the fist visitor.</p>
    {{/if}}
