body {
    background-color: beige;
    width: 980px;
    margin: auto;
}

nav li {
    list-style: none;
    display: inline-block;
    
}

nav a {
    text-decoration: none;
    background-color: rgb(77, 86, 167);
    color: azure;
    font-size: 20px;
    padding: 4px 8px;
    font-family: monospace;
}

nav a:hover {
    background-color: rgb(155, 182, 241);
}

.italic {
    font-style: italic;
}

label {
    display: block;
}
label span {
    display: inline-block;
    width: 75px;
}