<article class="content-publication">
        <h1>Title: Spring in the garden</h1>

        <!--If no one has shared the post yet, the number should be zero -->
        <p>Number of people shared the publication: 0</p>
        <a href="#" class="image-details">View publication</a>
</article>